<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lora Data Dashboard</title>
    <meta http-equiv="refresh" content="5">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
</head>
<body>
    <div style="text-align: center;">
        <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Icon" style="height: 64px; margin-bottom: -25px;  margin-top: 20px;">
        <h1>LoRa Data Dashboard</h1>
      </div>
      
    <form  style="text-align: center;" id="filterForm">
        <label for="mode">Enter Mode - <i>Test for Test and Exp for Experimental </i>:</label>
         <input type="text" id="mode" name="mode" value="{{ mode }}">
    </form>

    <div id="current-user-display" style="margin: 15px 0; font-weight: bold; text-align: center;">
        {% if mode %}
            Currently viewing data for mode: <span style="color: #2ecc71;">{{ mode }}</span>
        {% else %}
            No mode selected - showing all data
        {% endif %}
    </div>

    <h2 style="text-align: center;">Data 🐱‍💻</h2>
    <table id="command-table" border="1">
        <thead>
            <tr>
                <th>Time</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            {% if item.device == 'app' %}
                <!-- <tr style="background-color: hsl(246, 68%, 76%);"> -->
                <tr style="background-color: rgb(173, 209, 157);">
            {% else%}
                <!-- <tr style="background-color: hsl(329, 68%, 83%);"> -->
                <tr style="background-color: rgb(170, 211, 224);">

            {% endif%}
                <td>{{ item.timestamp | datetime }}</td>
                <td>{{ item.msg }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>